.nav {
	position: fixed;
	z-index: 100;
	height: 50px;
	top: 20px;
	left: 50%;
	transform: translateX(-50%);
	background-image: linear-gradient(
		to right,
		rgba(255, 255, 255, 0.2) 0%,
		rgba(255, 255, 255, 0.1) 50%,
		rgba(150, 255, 226, 0.14) 70%
	);
	box-shadow: inset 0px 2px 13px -3px rgba(255, 255, 255, 0.2);
	backdrop-filter: blur(20px);
	border-radius: 33px;
	border: 1px solid #ffffff40;
	cursor: pointer;
	padding: 0px 20px;
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: space-around;
	/* for gsap */
	opacity: 0;
}
.nav a {
	height: 27px;
}
.nav a svg {
	opacity: 0.8;
}
.nav a svg:hover {
	opacity: 1;
}

@media (max-width: 768px) {
	.nav {
		top: auto;
		bottom: 20px;
	}
}

.hints {
	position: fixed;
	z-index: 100;
	height: 50px;
	top: 20px;
	right: 0px;
	width: 150px;
	display: flex;
	align-items: center;
	justify-content: center;
}

.hints button {
	position: fixed;
	z-index: 100;
	top: 20px;
	right: 20px;
	height: 50px;
	background-color: transparent;
	color: white;
	background-image: linear-gradient(
		to right,
		rgba(255, 255, 255, 0.2) 0%,
		rgba(255, 255, 255, 0.1) 50%,
		rgba(150, 255, 226, 0.14) 70%
	);
	box-shadow: inset 0px 2px 13px -3px rgba(255, 255, 255, 0.2);
	backdrop-filter: blur(20px);
	border-radius: 33px;
	border: 1px solid #ffffff40;
	cursor: pointer;
	padding: 0px 20px;
	display: flex;
	align-items: center;
	justify-content: center;


	transition: 0.2s transform;
	transform: translateX(90px);
}

.hints span {
	position: fixed;
	right: 70px;
	animation: slideLeft 5s ease-in-out;
	animation-fill-mode: forwards;
	transition: 0.2s opacity;
}

@keyframes slideLeft {
	0% {
		transform: rotate(10deg) translateX(10px);
	}
	10% {
		transform: rotate(-10deg) translateX(0px);
	}
	20% {
		transform: rotate(10deg) translateX(10px);
	}
	30% {
		transform: rotate(-10deg) translateX(0px);
	}
	40% {
		transform: rotate(10deg) translateX(10px);
	}
	50% {
		transform: rotate(-10deg) translateX(0px);
	}
	70% {
		transform: translate(78px) rotate(-40deg);
	}
	100% {
		transform: translate(78px) rotate(-40deg);
	}
}

@keyframes flicker {
    0% {
      color: #FFFF00;
    }
    25% {
      color: #666666;
    }
    50% {
      color: #FFFF00;
    }
    75% {
      color: #dbdbdb;
    }
    100% {
      color: #FFFF00;
    }
}

.hints svg {
	opacity: 0.8;
}

.hints svg:hover {
	opacity: 1;
}

.hints:hover span {
	opacity: 0;
}

.hints:hover button {
	transform: translateX(0px);
	animation: flicker 0.5s ease-in-out 2;
}
