.form {
  display: flex;
  flex-direction: column;
  gap: 20px;
  width: fit-content;
  margin-left: auto;
  margin-right: auto;
  margin-top: 50px;
  margin-bottom: 50px;
}
.contact label {
  color: var(--clr-primary);
  text-wrap: nowrap;
}
.contact input,
.contact textarea {
  width: 100%;
  max-width: 360px;
  transition: var(--transition-medium);
  line-height: 150%;
  border-bottom: 1px solid #ffffff50;
  padding-bottom: 2px;
}
.contact textarea {
  min-width: 320px;
  height: 150px;
  text-wrap: wrap;
}
.message {
  display: flex;
  flex-direction: row;
}
.form_row {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

@media (min-width: 768px) {
  .contact input,
  .contact textarea {
    max-width: 500px;
  }
  .contact textarea {
    min-width: 500px;
  }
}
