.tag {
  background: #ffffff44;
  width: fit-content;
  padding: 5px 15px;
  border-radius: 20px;
  margin-left: auto;
  margin-right: auto;
  font-weight: 500;
  margin-bottom: 20px;
  margin-top: 20px;
}
.register {
  all: unset;
}
.group {
  display: flex;
  flex-wrap: wrap;
  padding-top: 20px;
  align-items: center;
  justify-content: space-evenly;
  /* background: red; */
}
.post {
  position: relative;
  width: 350px;
  height: 350px;
  box-sizing: border-box;
  border-radius: 0 0 30px 30px;
  margin-bottom: 20px;
  overflow: hidden;
  border: 1px solid #ffffff33;
  box-shadow:
    rgba(0, 0, 0, 0.1) 0px 20px 25px -5px,
    rgba(0, 0, 0, 0.04) 0px 10px 10px -5px;
}
.post img {
  height: 350px;
  width: 350px;
}
.options {
  position: absolute;
  z-index: 2;
  bottom: 12px;
  left: 0;
  height: 50px;
  width: 92.5%;
  background: #85858570;
  backdrop-filter: blur(15px);
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  left: 50%;
  transform: translateX(-50%);
  border-radius: 20px;
  transition: var(--transition-medium);
  padding: 0 10px;
}
.save,
.register {
  display: flex;
  width: fit-content;
  flex-direction: row;
  align-items: center;
  gap: 5px;
  transition: var(--transition-medium);
  padding: 5px 15px;
  cursor: pointer;
  border-radius: 10px;
  user-select: none;
}
.register {
  flex-direction: row-reverse;
}
.save svg,
.register svg {
  min-width: 24px;
  transition: var(--transition-medium);
}
.text {
  overflow: hidden;
  font-weight: 600;
  transition: var(--transition-medium);
}
.save:hover,
.register:hover {
  background: #ffffff33;
  border-radius: 15px;
}
.options > div:hover > span {
  width: 100%;
  transition: var(--transition-medium);
}
.finished {
  margin-bottom: 120px;
  margin-top: 40px;
  font-family: "Montserrat", "sans-serif";
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 6px;
  text-align: center;
}
.finished h1 {
  font-size: 17px;
  font-weight: 600;
}
.finished p {
  font-size: 14px;
  padding: 0 20px;
  font-weight: 400;
  color: #ffffff77;
}
.finished svg {
  width: 60px;
  height: 60px;
}
.bold {
  font-weight: 600;
  color: #ffffffbb;
}
.events_section {
  display: flex;
  flex-direction: column;
  padding: 60px 10px;
  padding-bottom: 0px;
  gap: 50px;
}
@media (min-width: 768px) {
  .post {
    margin-bottom: 50px;
  }
  .finished {
    margin-bottom: 160px;
    margin-top: 0px;
  }
  .text {
    width: 0px;
  }
  .options > .register:hover > span,
  .options > .save:hover > span {
    width: 100%;
  }
  .events_section {
    padding: 60px;
    gap: 120px;
  }
}
.card {
  height: 160px;
  flex: 1;
  margin: 2px;
  border-radius: 60px;
  padding: 25px;
  font-weight: 100;
  font-size: 1.15rem;
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  position: relative;
  overflow: hidden;
  transition: var(--transition-medium);
  cursor: pointer;
  border: 1px solid #ffffff11;
  opacity: 0.9;
  box-shadow:
    rgba(255, 255, 255, 0.1) 0px 1px 1px 0px inset,
    rgba(50, 50, 93, 0.25) 0px 50px 100px -20px,
    rgba(0, 0, 0, 0.3) 0px 30px 60px -30px;
}
.card p {
  width: 70%;
  text-wrap: wrap;
  overflow-wrap: break-word;
  line-height: 100%;
  hyphens: auto;
}
.c1 {
  background: linear-gradient(to top right, var(--clr-2), var(--clr-1));
}
.c2 {
  background: linear-gradient(to top right, var(--clr-2), var(--clr-4));
}
.c3 {
  background: linear-gradient(to top right, var(--clr-2), var(--clr-1));
}
.c4 {
  background: linear-gradient(to top right, var(--clr-2), var(--clr-3));
}
@media (min-width: 768px) {
  .card {
    height: 200px;
    margin: 10px;
    padding: 35px 30px;
    font-size: 2rem;
  }
}
.arrow {
  width: fit-content;
  height: auto;
  margin-left: auto;
}
.filler {
  position: absolute;
  top: -50%;
  left: -70%;
  height: 350%;
  width: 400px;
  background: #ffffff15;
  filter: blur(20px);
  transform: rotateZ(-20deg);
  transition: all 0.3s ease-in;
}
.card:hover {
  opacity: 1;
  border: 1px solid #ffffff44;
}
.card:hover .filler {
  left: 100%;
  opacity: 0.2;
}
